In [77]:
#Bengaluru_House_Data.csv
import pandas as pd
df=pd.read_csv("Bengaluru_House_Data.csv")

In [78]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [79]:
#we are going to drop the columns like: ["area_type","availability","society","balcony"]
df.drop(["area_type","availability","society","balcony"],axis=1,inplace=True)

In [80]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [81]:
#checking null values
df.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [82]:
df.dropna(inplace=True)

In [83]:
df.duplicated().sum()

881

In [84]:
df.shape

(13246, 5)

In [85]:
#we going to drop all null values
df.drop_duplicates(inplace=True)

In [86]:
df.shape

(12365, 5)

# location column

In [87]:
df["location"].apply(lambda x:x.strip())

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13314           Green Glen Layout
13315                  Whitefield
13316               Richards Town
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
Name: location, Length: 12365, dtype: object

In [88]:
df["location"].value_counts()

location
Whitefield               501
Sarjapur  Road           357
Electronic City          273
Thanisandra              223
Kanakpura Road           217
                        ...
Maruthi Extension          1
Okalipura                  1
Old Town                   1
Vasantapura main road      1
Abshot Layout              1
Name: count, Length: 1304, dtype: int64

In [89]:
#we going changing the name of the city with lessthan 20
value=df["location"].value_counts()

In [90]:
lessthan=value[value<=20]

In [91]:
lessthan

location
HBR Layout               20
Sanjay nagar             20
Kaggalipura              19
HRBR Layout              19
OMBR Layout              19
                         ..
Maruthi Extension         1
Okalipura                 1
Old Town                  1
Vasantapura main road     1
Abshot Layout             1
Name: count, Length: 1167, dtype: int64

In [92]:
df["location"]=df["location"].apply(lambda x: "Others" if x in lessthan else x)

In [93]:
df["location"].value_counts()

location
Others                4301
Whitefield             501
Sarjapur  Road         357
Electronic City        273
Thanisandra            223
                      ...
Thubarahalli            21
Ardendale               21
Basaveshwara Nagar      21
Domlur                  21
Hoskote                 21
Name: count, Length: 138, dtype: int64

# Size column

In [94]:
#we going to make new column BHK and drop size column from the data set
df["BHK"]=df["size"].apply(lambda x:int(x.split(" ")[0]))
df.drop("size",axis=1,inplace=True)

In [95]:
df.head(2)

                   location total_sqft  bath   price  BHK
0  Electronic City Phase II       1056   2.0   39.07    2
1                    Others       2600   5.0  120.00    4

# total_sqft

In [96]:
df["total_sqft"].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [97]:
import re

def function(sqft):
    if "-" in sqft:
        i=sqft.split("-")
        return (float(i[0])+float(i[1]))/2
    else:
        return float(re.search(r"[\d\.]+",sqft).group())
df["total_sqft"]=df["total_sqft"].apply(function)

In [98]:
df["total_sqft"].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12365 entries, 0 to 13318
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    12365 non-null  object
 1   total_sqft  12365 non-null  float64
 2   bath        12365 non-null  float64
 3   price       12365 non-null  float64
 4   BHK         12365 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 579.6+ KB

# bath column

In [100]:
df["bath"].value_counts()

bath
2.0     6322
3.0     3092
4.0     1183
1.0      741
5.0      516
6.0      270
7.0      102
8.0       64
9.0       42
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64

In [101]:
df[df["bath"]==27]

     location  total_sqft  bath  price  BHK
1718   Others      8000.0  27.0  230.0   27

In [102]:
df=df[df["bath"]<=15]

In [103]:
df["bath"].value_counts()

bath
2.0     6322
3.0     3092
4.0     1183
1.0      741
5.0      516
6.0      270
7.0      102
8.0       64
9.0       42
10.0      13
12.0       7
11.0       3
13.0       3
14.0       1
15.0       1
Name: count, dtype: int64

In [104]:
df.shape

(12360, 5)

In [105]:
df.head()

                   location  total_sqft  bath   price  BHK
0  Electronic City Phase II      1056.0   2.0   39.07    2
1                    Others      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

In [106]:
df["BHK"].value_counts()

BHK
2     5070
3     4490
4     1359
1      613
5      344
6      221
7       99
8       89
9       54
10      14
11       4
14       1
12       1
13       1
Name: count, dtype: int64

In [107]:
df.shape

(12360, 5)

In [108]:
#we making new column price_per_sqft
df["price_per_sqft"]=df["price"]*100000/df["total_sqft"]

In [109]:
df.head(2)

                   location  total_sqft  bath   price  BHK  price_per_sqft
0  Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1                    Others      2600.0   5.0  120.00    4     4615.384615

In [110]:
df["sqft_per_bedroom"]=df["total_sqft"]/df["BHK"]

In [111]:
df.head(3)

,location,total_sqft,bath,price,BHK,price_per_sqft,sqft_per_bedroom
0,Electronic City Phase II,1056.0,2.0,39.07,2,3699.810606,528.0
1,Others,2600.0,5.0,120.00,4,4615.384615,650.0
2,Uttarahalli,1440.0,2.0,62.00,3,4305.555556,480.0

In [112]:
df.describe()

,total_sqft,bath,price,BHK,price_per_sqft,sqft_per_bedroom
count,12360.00000,12360.000000,12360.000000,12360.000000,1.236000e+04,12360.000000
mean,1566.50140,2.711327,115.103513,2.817071,1.289169e+04,574.425824
std,1270.03647,1.292237,153.062031,1.234317,2.342289e+05,400.762181
min,1.00000,1.000000,8.000000,1.000000,2.678298e+02,0.250000
25%,1100.00000,2.000000,50.000000,2.000000,4.313485e+03,471.666667
50%,1280.00000,2.000000,73.547500,3.000000,5.500000e+03,551.666667
75%,1691.00000,3.000000,123.000000,3.000000,7.487676e+03,626.500000
max,52272.00000,15.000000,3600.000000,14.000000,1.600000e+07,26136.000000

In [113]:
df=df[df["price_per_sqft"]>=2000]

In [114]:
df.describe()

,total_sqft,bath,price,BHK,price_per_sqft,sqft_per_bedroom
count,12330.000000,12330.000000,12330.000000,12330.000000,1.233000e+04,12330.000000
mean,1545.098727,2.711517,115.182030,2.817113,1.291992e+04,566.335796
std,981.748186,1.290760,153.176388,1.232373,2.345130e+05,233.630332
min,1.000000,1.000000,8.000000,1.000000,2.000000e+03,0.250000
25%,1100.000000,2.000000,50.000000,2.000000,4.326923e+03,471.541667
50%,1280.000000,2.000000,73.697500,3.000000,5.500330e+03,551.333333
75%,1690.000000,3.000000,123.000000,3.000000,7.499796e+03,625.500000
max,30400.000000,15.000000,3600.000000,14.000000,1.600000e+07,7500.000000

In [115]:
df=df[df["sqft_per_bedroom"]>=250]

In [117]:
df.describe()

,total_sqft,bath,price,BHK,price_per_sqft,sqft_per_bedroom
count,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000
mean,1581.079342,2.592988,114.389790,2.679521,6463.083350,588.004001
std,991.739419,1.110171,156.299746,1.008551,4311.529272,219.668869
min,250.000000,1.000000,8.000000,1.000000,2000.000000,250.000000
25%,1113.000000,2.000000,50.000000,2.000000,4271.271612,488.000000
50%,1305.000000,2.000000,71.000000,3.000000,5379.746835,561.500000
75%,1712.500000,3.000000,120.000000,3.000000,7050.264395,631.000000
max,30400.000000,14.000000,3600.000000,13.000000,176470.588235,7500.000000

In [118]:
df.shape

(11695, 7)

In [119]:
df=df[df["total_sqft"]>=300]

In [120]:
df.shape

(11692, 7)

In [121]:
df.describe()

,total_sqft,bath,price,BHK,price_per_sqft,sqft_per_bedroom
count,11692.000000,11692.000000,11692.000000,11692.000000,11692.000000,11692.000000
mean,1581.414036,2.593312,114.413078,2.679952,6462.470901,588.083886
std,991.646427,1.110105,156.312895,1.008321,4311.032310,219.640200
min,300.000000,1.000000,9.000000,1.000000,2000.000000,250.000000
25%,1113.000000,2.000000,50.000000,2.000000,4271.314198,488.000000
50%,1305.000000,2.000000,71.000000,3.000000,5379.528590,561.666667
75%,1713.000000,3.000000,120.000000,3.000000,7049.461946,631.000000
max,30400.000000,14.000000,3600.000000,13.000000,176470.588235,7500.000000

In [122]:
df.head()

,location,total_sqft,bath,price,BHK,price_per_sqft,sqft_per_bedroom
0,Electronic City Phase II,1056.0,2.0,39.07,2,3699.810606,528.0
1,Others,2600.0,5.0,120.00,4,4615.384615,650.0
2,Uttarahalli,1440.0,2.0,62.00,3,4305.555556,480.0
3,Lingadheeranahalli,1521.0,3.0,95.00,3,6245.890861,507.0
4,Kothanur,1200.0,2.0,51.00,2,4250.000000,600.0

In [123]:
#we are going to drop the column of ["price_per_sqft","sqft_per_bedroom"]
df.drop(["sqft_per_bedroom","price_per_sqft"],inplace=True,axis=1)

In [124]:
df.head()

                   location  total_sqft  bath   price  BHK
0  Electronic City Phase II      1056.0   2.0   39.07    2
1                    Others      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

In [148]:
df.shape

(11692, 5)

In [ ]:
df.to

In [126]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [127]:
col_trans=make_column_transformer((OneHotEncoder(sparse_output=False),["location"]),remainder="passthrough")

In [128]:
lr=LinearRegression()

In [129]:
scale=StandardScaler()

In [130]:
pipe=make_pipeline(col_trans,scale,lr)

In [131]:
x=df.drop("price",axis=1)
y=df["price"]

In [132]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [133]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [135]:
pipe.score(x_train,y_train)

0.5703806435935448

In [136]:
pipe.score(x_test,y_test)

0.6393271236937925

In [137]:
input_data=pd.DataFrame([["Uttarahalli",1440.0,2.0,3]],columns=["location","total_sqft","bath","BHK"])

In [138]:
input_data

      location  total_sqft  bath  BHK
0  Uttarahalli      1440.0   2.0    3

In [140]:
pipe.predict(input_data)[0]

59.21022158388968

In [141]:
import pickle

In [144]:
pickle.dump(pipe,open("house_price_model.pkl","wb"))

In [145]:
z=pickle.load(open("house_price_model.pkl","rb"))

In [147]:
z.predict(input_data)[0]

59.21022158388968